*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
:root{
    --main-color: #000000c9;
    --back-color: #000000;
    --black: #000000;
    --bg: #ffffff;
    --border:.1rem solid #ffffff4d;
}
.container{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.conteudo{
    width: 450px;
    height: 130px;
    background-color: rgb(243, 243, 243);
    display: flex;
    border-radius: 30px;
    
}
.content-one{
    margin-top: 50px;
    margin-left: 50px;
}

.content-two{
    margin-top: 10px;
    margin-left: 50px;

}
.image{
    margin-top: 10px;
}


.heading  {
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 277px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: underline 2px;
    text-decoration-color: #1d1fa5; 
}

h4{
    color: #1d1fa5;
}

.produtos-recentes .box_container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
    gap: 1.5rem;
}

.produtos-recentes .box_container .box{
    
    padding: 5rem;
    text-align: center;
    border-radius: 30px;

}

.produtos-recentes .box_container .box h3{
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
}

.produtos-recentes .box_container .box .preco{
  
    color: #fff;
    font-size: 1.2rem;
    padding: .5rem.0;
}

.produtos-recentes .box_container .box .preco span{
    
    font-size: .9rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.produtos-recentes .box_container .box:hover{
    background-color: #fff;
}

.produtos-recentes .box_container  .box:hover > *{
  color: var(--black);
}
.box{
    border: solid black 2px;
}

.btn{
 padding: 10px 20px;
 font-size: 14pt;
 color: #ffffff;
 position: relative;
 display: inline-block;
}

.clic{
    background-color: rgb(86, 131, 170);
    box-shadow: 20px 20px 10px #ccc;
    border-radius: 20px;
    transition: all .4s ease-in-out;
}
.btn:hover{
    background-color: rgb(8, 156, 201);
    color: #1d1fa5;
    padding: 10px 20px;
    transform: scale(1.1);
}
a{
    text-decoration: none !important;
}

@media (max-width:768px) {

    .container{
         
            flex-direction: column;
            margin-left: 35px;
          
    }

    .heading{
        margin-left: 30%;
    }

    .produtos-recentes .box_container  {
        display: block;
    }
    .produtos-recentes .box_container .box  .conteudo{
        display: block;
        margin-top: 10px;
    }
    .ambiente .box-container {
        display: block;
    }

    }
    
