* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    height: 100vh;
  }
  
  header {
    height: 20vh;
    background-color: rgb(8, 156, 201);
    display: flex;
    flex-direction: column;
  }

  .divisao{
    height: 50vh;
    background-color: rgb(255, 255, 255);
  }
  a {
    font-size: 12px;
    text-transform: uppercase;
  }
  /* Header */
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header img {
    height: 20vh;
    width: 20vh;
  }
  
  .searchbar {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    left: 15vh;
    max-width: 190px;
    float: right;
  }
  
  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  .input:hover {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  
  .nav-area {
    display: flex;
    align-items: center;
  }
  
  .menu {
    position: relative;
    right: 20vh;
  }
  
  .nav-area:after {
    content: '';
    clear: both;
    display: block;
  }
  
  .nav-area ul {
    list-style: none;
    margin: 0;
  }
  
  .nav-area>ul>li {
    float: left;
    position: relative;
  }
  
  .nav-area ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .nav-area ul li:hover a {
    background: rgb(8, 156, 201);
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100%;
    -webkit-transition: all.5s, background, 1s.5s linear;
    transition: all.5s, background 1s.5s linear;
  }
  
  .nav-area ul ul {
    position: absolute;
    padding: 0;
    min-width: 160px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 0.5s;
  }
  
  .nav-area ul li:hover>ul {
    opacity: 1;
    max-height: 300px;
  }
  
  .nav-area ul ul li:hover a {
    background: #262626;
  }
  
  .nav-area ul ul li {
    position: relative;
  }
  
  .nav-area ul ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-area ul ul ul li:hover a {
    background: #34495e;
  }
  
  .nav-area {
    padding: 20px;
    text-align: center;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .menu li {
    position: relative;
  }
  
  .card {
    display: flex;
    align-items: center;
    gap: 2vh;
    justify-content: center;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration:.3s;
  }
  
  .containerOne:hover {
    box-shadow: 2px 2px 52px 22px rgba(0, 114, 177, 0.75);
    -webkit-box-shadow: 2px 2px 52px 22px rgba(0, 114, 177, 0.75);
    -moz-box-shadow: 2px 2px 52px 22px rgba(0, 114, 177, 0.75);
    transition-duration:.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration:.3s;
  }
  
  .socialSvg {
    width: 20px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* Header */
  /* Footer */

  footer {
    height: 50vh;
    background-color: rgb(8, 156, 201);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  footer img{
    height: 20vh;
    width: 20vh;
    position: relative;
    right: auto;
    left: 20%;
  }

  .contato{
    width: 20%;
  }
  .horario{
    font-size: 2vh;
    position: relative;
    bottom: 15%;
    width: 80%;
    text-align: left;
    margin-left: 7vh;
}
.numero{
    font-size: 2vh;
    position: relative;
    bottom: 15%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 2vh;
    color: white;
}
.informacoes{
    font-size: 2vh;
    position: relative;
    bottom: 15%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 2.5vh;
}
.endereco{
    font-size: 2vh;
    position: relative;
    bottom: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 2.5vh;
    color: white;
}

.social-media{
    position: relative;
    bottom: 25%;
    right: 10%;
}

ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  

  .links{
    width: 20%;
    position: relative;
    top: 10%;
  }

  .links h1{
    font-size: 3vh;
    color: white;
    text-align: center;
  }
  .links a{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 2vh;
    text-decoration: none;
  }


  .categorias{
    width: 20%;
    position: relative;
    top: 10%;
  }
  .categorias h1{
    font-size: 3vh;
    color: white;
    text-align: center;
  }
  .categorias a{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 2vh;
    text-decoration: none;
  }
  .verifique{
    width: 20%;
    position: relative;
    top: 10%;
  }
  .verifique h1{
    font-size: 3vh;
    color: white;
    text-align: center;
  }
  .verifique a{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 2vh;
    text-decoration: none;
  }
  


  /* Footer */


  /* Responsive */
  @media (max-width: 768px) {

    header{
        height: 60vh;
    }
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .header img {
      margin-bottom: 1rem;
    }
  
    .searchbar {
      left: 0;
      max-width: 100%;
      padding: 0 1rem;
    }

    .icon{
        margin-left: 1vh;
    }
  
    .menu {
      position: static;
      width: 100%;
      display: flex;
      align-items: center;
    }
  
    .menu li {
      text-align: center;
    }
  
    .nav-area ul li a {
      padding: 10px 20px;
    }
  
    .nav-area ul ul {
      position: static;
      width: 100%;
      box-shadow: none;
    }
  
    .nav-area ul li:hover>ul {
      display: none;
    }
  
    .nav-area ul ul li {
      text-align: left;
    }
  
    .nav-area ul ul li a {
      padding: 10px;
      background-color: white;
    }
  
    .nav-area ul ul ul li {
      position: static;
    }
    .card {
        margin-top: 5vh;
    }
  }